templates/pipeline3/pipeline3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory"
		},
		"AzureBlobStorage1": {
			"type": "string"
		},
		"AzureSqlDatabaseProtoflexon": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ExcelData",
								"type": "DatasetReference"
							},
							"timeout": "0.00:01:00",
							"sleep": 10
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"additionalColumns": [
									{
										"name": "Columna_prueba",
										"value": "666"
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": "2023-10-28T00:00:00.000Z",
									"modifiedDatetimeEnd": "2023-10-28T02:00:00.000Z",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Item resumen",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Item resumen",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Bodega",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bodega",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Desc. bodega",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Desc. bodega",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cant. compro. exist.",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cant. compro. exist.",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cant. compromisos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cant. compromisos",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cant. diferencia",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cant. diferencia",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cant. adic. compro. exist.",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cant. adic. compro. exist.",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cant. adic compromisos",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cant. adic compromisos",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cant. adic diferencias",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cant. adic diferencias",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Columna_prueba",
											"type": "String"
										},
										"sink": {
											"name": "Columna_prueba",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelData",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "genericdataset",
								"type": "DatasetReference",
								"parameters": {
									"schema": "prb",
									"tabla": "dataexcel",
									"Url_key_Vault": "https://kv-fehazure.vault.azure.net/",
									"Secret_key_vault": "DatabaseConnectionprotoflexoneh"
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelData')]",
				"[concat(variables('factoryId'), '/datasets/genericdataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "cantidad.xlsx",
						"container": "ejercicio3"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Item resumen",
						"type": "String"
					},
					{
						"name": "Bodega",
						"type": "String"
					},
					{
						"name": "Desc. bodega",
						"type": "String"
					},
					{
						"name": "Cant. compro. exist.",
						"type": "String"
					},
					{
						"name": "Cant. compromisos",
						"type": "String"
					},
					{
						"name": "Cant. diferencia",
						"type": "String"
					},
					{
						"name": "Cant. adic. compro. exist.",
						"type": "String"
					},
					{
						"name": "Cant. adic compromisos",
						"type": "String"
					},
					{
						"name": "Cant. adic diferencias",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/genericdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabaseProtoflexon')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"Url_key_Vault": {
							"value": "@dataset().Url_key_Vault",
							"type": "Expression"
						},
						"Secret_key_vault": {
							"value": "@dataset().Secret_key_vault",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"tabla": {
						"type": "string"
					},
					"Url_key_Vault": {
						"type": "string"
					},
					"Secret_key_vault": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tabla",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"dependsOn": []
		}
	]
}